<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468235314569-bnlkm27omqagj1q6tfrkbjvv1aut0nn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468235314569-bnlkm27omqagj1q6tfrkbjvv1aut0nn2</string>
	<key>API_KEY</key>
	<string>AIzaSyDcOO4lZeMdJfwzaNcGss_Ue5QE7FKVFkE</string>
	<key>GCM_SENDER_ID</key>
	<string>468235314569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-e774e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-e774e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468235314569:ios:c0979714abf1b3b518ed58</string>
</dict>
</plist>